footer.footer {
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: $black;

  .footer__logo {
    font-size: 2rem;
    font-weight: 600;
    color: $orange;
  }

  .footer__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: 1rem;
    color: $whitesmoke;

    a {
      display: block;
      margin: 1rem 1rem 0 0;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }

  a {
    color: $whitesmoke;
  }
}