$orange: #ff4400;
$orange-semitransparent: #ff4d0080;
$whitesmoke: #f5f5f5;

$headers-black: #363636;
$text-black: #4a4a4a;

$link-hover: #485fc7;

$border-color: #a1a1a1;

$background-grey: #ccc;
$background-light-grey: #efefef;